## Part 1: Preprocessing

In [57]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers
from sklearn.preprocessing import LabelEncoder
import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder


#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [58]:
#Drop any missing data

attrition_df.dropna(inplace=True)

In [59]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [60]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [61]:
attrition_df.dropna(inplace=True)

In [62]:
# Create a list of at least 10 column names to use as X data
selected_columns = [
    'Age', 'MaritalStatus', 'DistanceFromHome', 'Education', 
    'EnvironmentSatisfaction', 'HourlyRate', 'NumCompaniesWorked', 
    'JobLevel', 'JobSatisfaction', 'TotalWorkingYears']


# Create X_df using your selected columns
X_df = attrition_df[selected_columns]

# Show the data types for X_df
X_df.dtypes

Age                         int64
MaritalStatus              object
DistanceFromHome            int64
Education                   int64
EnvironmentSatisfaction     int64
HourlyRate                  int64
NumCompaniesWorked          int64
JobLevel                    int64
JobSatisfaction             int64
TotalWorkingYears           int64
dtype: object

In [63]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, test_size=0.2, random_state=42)

In [64]:
# Initialize the LabelEncoder
le = LabelEncoder()

# Fit and transform the 'MaritalStatus' column of X_train
X_train['MaritalStatus'] = le.fit_transform(X_train['MaritalStatus'].values.reshape(-1,1))

# Transform the 'MaritalStatus' column of X_test using the same encoder
X_test['MaritalStatus'] = le.transform(X_test['MaritalStatus'].values.reshape(-1,1))

c:\Users\sheve\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\sheve\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [65]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary

# Create encoder
encoder = OneHotEncoder(sparse=False)

# Fit the encoder to the training data
encoder.fit(X_train[['MaritalStatus']])

# Apply the encoder to the training and testing data
X_train_encoded = encoder.transform(X_train[['MaritalStatus']])
X_train_encoded
X_test_encoded = encoder.transform(X_test[['MaritalStatus']])

# Convert the encoded features into DataFrames
X_train_encoded_df = pd.DataFrame(X_train_encoded, columns=encoder.get_feature_names_out(['MaritalStatus']))
X_test_encoded_df = pd.DataFrame(X_test_encoded, columns=encoder.get_feature_names_out(['MaritalStatus']))

# Drop the original 'MaritalStatus' column from the original df
X_train = X_train.drop(['MaritalStatus'], axis=1)
X_test = X_test.drop(['MaritalStatus'], axis=1)

# Reset indices for X_train data
X_train = X_train.reset_index(drop=True)
X_train_encoded_df = X_train_encoded_df.reset_index(drop=True)

# Concatenate the original DataFrames with the encoded DataFrames
X_train = pd.concat([X_train, X_train_encoded_df], axis=1)

# Reset indices for X_test data
X_test = X_test.reset_index(drop=True)
X_test_encoded_df = X_test_encoded_df.reset_index(drop=True)

# Concatenate the original DataFrames with the encoded DataFrames
X_test = pd.concat([X_test, X_test_encoded_df], axis=1)

# View the first few rows of X_train
X_train.head()

c:\Users\sheve\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,NumCompaniesWorked,JobLevel,JobSatisfaction,TotalWorkingYears,MaritalStatus_0,MaritalStatus_1,MaritalStatus_2
0,24,21,2,3,57,0,1,1,2,1.0,0.0,0.0
1,18,5,2,2,73,1,1,4,0,0.0,0.0,1.0
2,29,20,2,4,45,2,2,4,10,1.0,0.0,0.0
3,39,12,3,4,66,4,2,2,7,0.0,1.0,0.0
4,31,20,3,2,89,1,2,3,10,1.0,0.0,0.0

In [66]:
# Create a StandardScaler
scaler = StandardScaler()


# Fit the StandardScaler to the training data
scaler.fit(X_train)


# Scale the training and testing data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [67]:
# Split y_df
y_train_attrition = y_train['Attrition']
y_train_department = y_train['Department']
y_test_attrition = y_test['Attrition']
y_test_department = y_test['Department']

y_train_attrition

1097     No
727      No
254      No
1175     No
1341     No
       ...
1130     No
1294     No
860     Yes
1459     No
1126     No
Name: Attrition, Length: 1176, dtype: object

In [68]:
# Create a OneHotEncoder for the Department column
encoder_department = OneHotEncoder(sparse=False)

# Fit the encoder to the training data
encoder_department.fit(y_train_department.values.reshape(-1, 1))

# Create two new variables by applying the encoder
# to the training and testing data
y_train_department_encoded = encoder_department.transform(y_train_department.values.reshape(-1, 1))
y_test_department_encoded = encoder_department.transform(y_test_department.values.reshape(-1, 1))

c:\Users\sheve\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [69]:
# Create a OneHotEncoder for the Attrition column
encoder = OneHotEncoder(sparse=False)

# Fit the encoder to the training data
encoder.fit(y_train.values.reshape(-1, 1))

# Create two new variables by applying the encoder
# to the training and testing data
y_train_encoded = encoder.transform(y_train.values.reshape(-1, 1))
y_test_encoded = encoder.transform(y_test.values.reshape(-1, 1))

c:\Users\sheve\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

## Create, Compile, and Train the Model

In [70]:
# Find the number of columns in the X training data
input_dim = X_train_scaled.shape[1]

# Create the input layer
input_layer = layers.Input(shape=(input_dim,))

# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu')(shared_layer1)

In [71]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
department_hidden_layer = layers.Dense(16, activation='relu')(shared_layer2)

# Create the output layer
department_output_layer = layers.Dense(y_train.shape[1], activation='softmax', name='department_output')(department_hidden_layer)

In [72]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attrition_hidden_layer = layers.Dense(16, activation='relu')(shared_layer2)

# Create the output layer
attrition_output_layer = layers.Dense(y_train_attrition_encoded.shape[1], activation='softmax', name='attrition_output')(attrition_hidden_layer)

NameError: name 'y_train_attrition_encoded' is not defined

In [ ]:
# Create the model
model = Model(inputs=input_layer, outputs=[department_output_layer, attrition_output_layer])

# Compile the model
model.compile(optimizer='adam', 
              loss={'department_output': 'categorical_crossentropy', 'attrition_output': 'categorical_crossentropy'}, 
              metrics={'department_output': 'accuracy', 'attrition_output': 'accuracy'})

# Summarize the model
model.summary()

NameError: name 'attrition_output_layer' is not defined

In [ ]:
# Train the model
history = model(
    X_train_scaled, 
    {'department_output': y_train_encoded, 'attrition_output': y_train_attrition_encoded},
    epochs=100,
    batch_size=32,
    validation_data=(X_test_scaled, {'department_output': y_test_encoded, 'attrition_output': y_test_attrition_encoded}),
    verbose=1
)

NameError: name 'model' is not defined

In [ ]:
# Evaluate the model with the testing data
evaluate_score = model.evaluate(X_test_scaled, [y_test_attrition_encoded, y_test_attrition_encoded])

evaluate_score

KeyError: "There are keys: ['output_attrition', 'output_dept'] in the `loss` argument, but they can't be found in the model's output (`y_pred`)."

In [ ]:
# Print the accuracy for both department and attrition
display(f'Department predictions accuracy: {round(evaluate_score[3],3)}')
display(f'Attrition predictions accuracy: {round(evaluate_score[4],3)}')

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.